permalink: /about/
---
<h1 id="main">О чем все это?</h1>
<p>
Подкаст о популярном PHP фреймворке - Zend Framework. 
</p>
<p>
Кроме того, очень часто, в подкасте мы говорим о разработке вне контекста<br />
не только фреймворка, но и PHP вообще.
</p>
