permalink: /feeds/
---
<h1>Подписка:</h1>
<div style="padding:25px 0px;">
    <div class="left" style="width:150px;">
        <a href="http://zf.rpod.ru/rss_r6e_fe25.xml"><img src="/media/img/rss-icon.png" height="64px" width="64px"
            alt="RPOD.ru"/></a>
    </div>
    <div class="left">Подписка на RSS-поток с <a href="http://rpod.ru">rpod.ru</a></div>
    <div class="clear"></div>
</div>
<div style="padding:25px 0px;">
    <div class="left" style="width:150px;">
        <a href="http://itunes.apple.com/us/podcast/zftalk-dev/id402987094?uo=4" target="itunes_store"><img src="http://ax.phobos.apple.com.edgesuite.net/images/web/linkmaker/badge_itunes-lrg.gif" alt="zftalk.dev" style="border: 0;"/></a>
    </div>
    <div class="left">Подписка на подкаст через iTunes.</div>
    <div class="clear"></div>
</div>
<div>
</div>
