permalink: /draft/
episodes:
    - 
        title: zftalk.dev s1e0
        url: http://zf.rpod.ru/174118.html
    - 
        title: SOme s
        url: uri
---

<h1 id="main">Список выпусков:</h1>

{% for episode in this.episodes %}
<div>
    s
{{ episode.title }}
</div>
{% endfor %}
