permalink: /draft/
address: http://s.rpod.ru/xml/audio_waveform/a192515.xml
---
<div style="width:400px">
<object width="100%" height="110" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
    <param value="http://s.rpod.ru/swf/playa.swf?xmlURL=" name="movie">
    <param value="true" name="allowfullscreen">
    <param value="always" name="allowscriptaccess">
    <embed width="100%" height="110" allowfullscreen="true" 
    allowscriptaccess="always" type="application/x-shockwave-flash" 
    src="http://s.rpod.ru/swf/playa.swf?xmlURL=http%3A%2F%2Fs.rpod.ru%2Fxml%2Faudio_waveform%2Fa192515.xml">
</object>
</div>


<div class="podcast">
    <div class="podcast_title podcast_title_unmoderated">
        <h1>Выпуск 3: в гостях Александр Стешенко</h1>
    </div>

    <div class="podcast_body imagefixer">- Вопросы, пожелания, яд слать <a href="http://rpod.ru/away?url=http%3A%2F%2Ftwitter.com%2F%23%21%2Fzftalk">@zftalk</a><br>- <a href="http://rpod.ru/away?url=http%3A%2F%2Flcf.name%2F">Александр Стешенко</a><br>- <a href="http://rpod.ru/away?url=http%3A%2F%2Fnorada.com%2F">Norada &amp; Solve 360</a></div>
    <div class="podcast_attaches_audios podcast_attaches_container">
        <div class="podcast_attaches_audio">
            <div class="podcast_attaches_audio_title ainvert">
                <span class="attach_title">zftalk.dev.s2e3</span>
                <span class="attach_source">@ RPOD.RU</span>
                <span class="attach_download">
                    &nbsp;<a class="attach_download" href="http://rpod.ru/get/233209/192080/download/zftalk.dev.s2e3.mp3"><img width="9" height="10" src="http://s.rpod.ru/i/0.gif" title="" alt=""></a>
                    <a class="size" href="http://rpod.ru/get/233209/192080/download/zftalk.dev.s2e3.mp3" title="" alt="">48 Мб</a>
                </span>
            </div>

            <div id="attach192080_container" class="podcast_attaches_audio_player"><embed width="100%" height="340" flashvars="xmlText=&lt;core&gt;&lt;player_settings preset_id='rpod_big' autoplay='0' /&gt;&lt;playlist&gt;&lt;item id='0'&gt;&lt;title&gt;Выпуск 3: в гостях Александр Стешенко&lt;/title&gt;&lt;type&gt;audio&lt;/type&gt;&lt;subtype&gt;mp3&lt;/subtype&gt;&lt;play url='http://rpod.ru/get/233209/192080/play/zftalk.dev.s2e3.mp3' duration='3149000' rewind='bytes' rewind_url='http://rpod.ru/get/233209/192080/play/zftalk.dev.s2e3.mp3?start=~A~' rewind_offset='0' rewind_size='50374947' rewind_duration='3149000' size='50375082' /&gt;&lt;wave shadow='1' shadow_color='0x000000' fetchurl='1' url='http://rpod.ru/get/233209/192080/waveform/192080.png?returnurl=1' /&gt;&lt;skin preset_id='1' /&gt;&lt;background color='0xffffff' url='http://s.rpod.ru/data/users_avatars/00/00/03/52/22/o_zftalk.dev-logo.png' scale='fitin' width='300' height='300' /&gt;&lt;/item&gt;&lt;/playlist&gt;&lt;/core&gt;" wmode="transparent" allowfullscreen="true" allowscriptaccess="always" swliveconnect="true" quality="high" name="attach192080" id="attach192080" style="undefined" src="http://s.rpod.ru/i/swf/playa.swf" type="application/x-shockwave-flash"></div><script> setTimeout(function() {  CORE.RenderPlayer('attach192080','100%','340','xmlText','\&lt;core\&gt;\&lt;player_settings preset_id=\'rpod_big\' autoplay=\'0\' /\&gt;\&lt;playlist\&gt;\&lt;item id=\'0\'\&gt;\&lt;title\&gt;Выпуск 3: в гостях Александр Стешенко\&lt;/title\&gt;\&lt;type\&gt;audio\&lt;/type\&gt;\&lt;subtype\&gt;mp3\&lt;/subtype\&gt;\&lt;play url=\'http://rpod.ru/get/233209/192080/play/zftalk.dev.s2e3.mp3\' duration=\'3149000\' rewind=\'bytes\' rewind_url=\'http://rpod.ru/get/233209/192080/play/zftalk.dev.s2e3.mp3?start=~A~\' rewind_offset=\'0\' rewind_size=\'50374947\' rewind_duration=\'3149000\' size=\'50375082\' /\&gt;\&lt;wave shadow=\'1\' shadow_color=\'0x000000\' fetchurl=\'1\' url=\'http://rpod.ru/get/233209/192080/waveform/192080.png?returnurl=1\' /\&gt;\&lt;skin preset_id=\'1\' /\&gt;\&lt;background color=\'0xffffff\' url=\'http://s.rpod.ru/data/users_avatars/00/00/03/52/22/o_zftalk.dev-logo.png\' scale=\'fitin\' width=\'300\' height=\'300\' /\&gt;\&lt;/item\&gt;\&lt;/playlist\&gt;\&lt;/core\&gt;');  }, 1); </script>

        </div>



    </div>








    <div class="podcast_tags"><a href="/tag/guest/">guest</a> </div>










    <div class="podcast_links">
        <span>Использована музыка:</span>&nbsp;

        <a href="http://rpod.ru/away?url=http%3A%2F%2Fwww.musicalley.com%2Fmusic%2Fproducers%2FproducerLibrary%2Fartistdetails.php%3FBandHash%3D45e2b7f85584938e29bf6243172c9752">Ship to Shore by Art Hodge</a>&nbsp;



    </div>












</div>
